.dashboard {
  height: 100%;
  transition: all 400ms;

  @media (max-width: 600px) {
    padding: 10px 10px 0 10px;
  }
  @media (min-width: 601px) {
    padding: 20px 20px 0 20px;
  }
}

.dashboard:last-child {
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }
  @media (min-width: 601px) {
    padding-bottom: 20px;
  }
}
.dashboardWithSalary.dashboard {
  height: calc(100% - 30px);
}
