.optionsContainer {
  display: flex;
  gap: 10px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.optionsContainer label {
  width: 160px;
  background: var(--background-color);
  border: solid 1px #c0c0c0;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer;

  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.optionsContainer label:focus,
.optionsContainer label:focus-within {
  outline: solid 1px var(--accent-color);
}

.optionsContainer input {
  outline: none;
}
