:root {
  --background-color: #fff;
  --card-color: #ececec;

  --font-color: #222;
  --accent-color: #f33b1d;
  --secondary-color: #d1a153;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: solid 1px var(--accent-color);
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0 0 10px 0;
}

h1,
h2 {
  margin: 0 0 20px 0;
}
