.footer {
  max-width: 900px;
  margin: 0 auto;
  color: var(--accent-color);

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  @media (min-width: 601px) {
    flex-direction: row;
  }
}

.footer a {
  flex-grow: 1;
  border-radius: 4px;
  background-color: rgb(247, 248, 249);
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
