.section {
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  box-sizing: border-box;

  @media (max-width: 600px) {
    padding: 10px 10px 0 10px;
  }
  @media (min-width: 601px) {
    padding: 20px 20px 0 20px;
  }
}

.section.topPart {
  padding-bottom: 0;
}

.section.centerPart {
  padding-bottom: 0;
  padding-top: 0;
}

.section.bottomPart {
  padding-top: 0;
}

.sectionFullHeight {
  max-height: 100vh;
  max-height: 100dvh;
}

.sectionFullHeightHint {
  max-height: calc(100vh - 40px);
  max-height: calc(100dvh - 40px);
}

.sectionFullHeight,
.sectionFullHeightHint {
  height: 100vh;
  height: 100dvh;

  @media (min-width: 600px) {
    max-height: 600px;
  }
}

.section:last-child {
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }
  @media (min-width: 601px) {
    padding-bottom: 20px;
  }
}

.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  padding: 10px;
}

.card.topPart {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card.bottomPart {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
