.form {
  width: 100%;

  box-sizing: border-box;
  min-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  text-align: center;

  transition: all 400ms;
}

.form.formWithData {
  min-height: 0px;
  margin-bottom: 20px;
}

.optionsContainer {
  display: flex;
  gap: 10px;
}

.optionsContainerColumnMobile {
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.optionsContainerRowMobile {
  @media (max-width: 600px) {
    flex-direction: row;
  }
}

.optionsContainer label {
  @media (max-width: 600px) {
    width: 100%;
  }

  background: var(--background-color);
  border: solid 1px #c0c0c0;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer;

  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  white-space: nowrap;
}

.optionsContainer label:focus,
.optionsContainer label:focus-within {
  outline: solid 1px var(--accent-color);
}

.optionsContainer input {
  outline: none;
}
