.form {
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.form label {
  display: flex;
  gap: 15px;
  align-items: center;
}

.form input[type="number"] {
  appearance: textfield;
  padding: 3px 4px;
}

.selectContainer {
  display: flex;
  gap: 20px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.form select {
  padding: 3px 4px;
  max-width: 200px;
}
